.sdbar_bg {
    width: 16vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.3;
    z-index: 0;
}

.sdbar {
    width: 16vw;
    max-width: 16vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text_name {
    font-size: 30px;
    color: black;
    z-index: 1;
    color: white;
    margin-top: 150px;
}

.acc_balance {
    font-size: 12px;
    color: white;
    display: flex;
    opacity: 0.75;
    margin-top: 70px;
}

.dollar_balance {
    font-size: 30px;
    color: #FFC700;
    margin-top: 20px;
}

.chart {
    font-size: 18px;
    margin-top: 70px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.chart:hover {
    text-decoration: none;
}

.trade {
    font-size: 16px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.setting {
    font-size: 18px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: inherit; /* ใช้สีข้อความเดิม */
}

.chart_icon {
    color: white;
    position: absolute;
    top: 395px;
    left: 85px;
}

.trade_icon {
    color: white;
    position: absolute;
    top: 462px;
    left: 85px;
}

.setting_icon {
    color: white;
    position: absolute;
    top: 535px;
    left: 85px;
}